<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stade">
            <h2><span jhiTranslate="manageTeamApp.stade.detail.title">Stade</span> {{stade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="manageTeamApp.stade.nom">Nom</span></dt>
                <dd>
                    <span>{{stade.nom}}</span>
                </dd>
                <dt><span jhiTranslate="manageTeamApp.stade.adresse">Adresse</span></dt>
                <dd>
                    <span>{{stade.adresse}}</span>
                </dd>
                <dt><span jhiTranslate="manageTeamApp.stade.codePostal">Code Postal</span></dt>
                <dd>
                    <span>{{stade.codePostal}}</span>
                </dd>
                <dt><span jhiTranslate="manageTeamApp.stade.ville">Ville</span></dt>
                <dd>
                    <span>{{stade.ville}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fas fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/stade', stade.id, 'edit']"
                    class="btn btn-primary">
                <span class="fas fa-pencil-alt"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
