<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-practise-heading" jhiTranslate="manageTeamApp.practise.home.createOrEditLabel">Create or edit a Practise</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!practise.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="practise.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.practise.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.date?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.practise.stade" for="field_stade">Stade</label>
                    <select class="form-control" id="field_stade" name="stade" [(ngModel)]="practise.stadeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stadeOption.id" *ngFor="let stadeOption of stades; trackBy: trackStadeById">{{stadeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="manageTeamApp.practise.players" for="field_players">Players</label>
                    <select class="form-control" id="field_players" multiple name="players" [(ngModel)]="practise.players">
                        <option [ngValue]="getSelected(practise.players, playerOption)" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="manageTeamApp.practise.manages" for="field_manages">Manages</label>
                    <select class="form-control" id="field_manages" multiple name="manages" [(ngModel)]="practise.manages">
                        <option [ngValue]="getSelected(practise.manages, managerOption)" *ngFor="let managerOption of managers; trackBy: trackManagerById">{{managerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
