<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-manager-heading" jhiTranslate="manageTeamApp.manager.home.createOrEditLabel">Create or edit a Manager</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!manager.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="manager.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="manager.firstName" required/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="manager.lastName" required/>
                    <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="manager.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                        [(ngModel)]="manager.phoneNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.hireDate" for="field_hireDate">Hire Date</label>
                    <div class="input-group">
                        <input id="field_hireDate" type="text" class="form-control" name="hireDate" ngbDatepicker  #hireDateDp="ngbDatepicker" [(ngModel)]="manager.hireDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="hireDateDp.toggle()"><i class="fas fa-calendar-alt"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.anneeArrivee" for="field_anneeArrivee">Annee Arrivee</label>
                    <div class="input-group">
                        <input id="field_anneeArrivee" type="text" class="form-control" name="anneeArrivee" ngbDatepicker  #anneeArriveeDp="ngbDatepicker" [(ngModel)]="manager.anneeArrivee"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="anneeArriveeDp.toggle()"><i class="fas fa-calendar-alt"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.imgProfile" for="field_imgProfile">Img Profile</label>
                    <div>
                        <img [src]="'data:' + manager.imgProfileContentType + ';base64,' + manager.imgProfile" style="max-height: 100px;" *ngIf="manager.imgProfile" alt="manager image"/>
                        <div *ngIf="manager.imgProfile" class="form-text text-danger clearfix">
                            <span class="pull-left">{{manager.imgProfileContentType}}, {{byteSize(manager.imgProfile)}}</span>
                            <button type="button" (click)="clearInputImage('imgProfile', 'imgProfileContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <span class="fas fa-times"></span>
                            </button>
                        </div>
                        <input type="file" id="file_imgProfile" (change)="setFileData($event, manager, 'imgProfile', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imgProfile" id="field_imgProfile"
                        [(ngModel)]="manager.imgProfile" />
                    <input type="hidden" class="form-control" name="imgProfileContentType" id="field_imgProfileContentType"
                        [(ngModel)]="manager.imgProfileContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="manageTeamApp.manager.manager" for="field_manager">Manager</label>
                    <select class="form-control" id="field_manager" name="manager" [(ngModel)]="manager.managerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <span class="fas fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fas fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
